<div *ngIf="available">
  <div class="row text-right">
    <button type="button" class="btn btn-xs btn-success" (click)="createItem()">
      <i class="fa fa-plus" aria-hidden="true"></i> Add
    </button>
  </div>

  <br/>

  <div class="row" [ngClass]="{'hide': formTitle}">
    <app-searchbox *ngIf="searchboxConfig" [config]="searchboxConfig" (updateResults)="updateSeach($event)"></app-searchbox>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Description</th>
          <th class="text-center">Size</th>

          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of items">
          <td class="text-left">{{item.name}}</td>
          <td class="text-left">{{item.description}}</td>
          <td class="text-center">{{item.size}}</td>

          <td class="text-center">
            <button class="btn btn-xs btn-warning" (click)="editItem(item)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Edit
            </button>
            <button class="btn btn-xs btn-danger" (click)="deleteItem(item)">
              <i class="fa fa-trash" aria-hidden="true"></i>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-paginator pageSize="25" [total]="total" (updatePage)="updatePage($event)"></app-paginator>
  </div>

  <form class="row well" [ngClass]="{'hide': !formTitle}" (ngSubmit)="saveItem()">
    <h4>{{formTitle}}</h4>

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="currentItem.name" />
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="3" name="description" [(ngModel)]="currentItem.description"></textarea>
    </div>

    <div class="form-group">
      <label>Size</label>
      <select class="form-control" name="size" [(ngModel)]="currentItem.size">
          <option value=""></option>
          <option value="medium">Medium</option>
          <option value="short">Short</option>
          <option value="tall">Tall</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success pull-right">
      <i class="fa fa-check" aria-hidden="true"></i>
      Save
    </button>
    <button type="button" class="btn btn-link pull-right" (click)="clearForm()">
      <i class="fa fa-eraser" aria-hidden="true"></i>
      Cancel &amp; Close
    </button>
  </form>
</div>
<div *ngIf="!available">
  <h3 class="text-danger">REST API is not available</h3>
</div>